<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>KC Crime Update</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    img {
        vertical-align: middle;
        height: 500px;
        width: 500px;
    }
    .border {
      border-right: 1px solid black;
    }
  </style>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>KC Crime Update</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Latest</a></p>
    </div>
  
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="heading">Latest KC Crime Update</h2>
        <b><h3 class="heading">{{wanted.latest_crime}}</h3></b>
        
      </div>
    </div>
  </div>

  </div>
</body>

</html>