body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans-serif;
  }
  
  #map {
    position: absolute;
    top: 0;
    right: 0;
    width: 65%;
    height: 100%;
    border: 3px solid #4b4d49;
  }
  
  h1 {
    font-size: 20px;
    line-height: 30px;
  }
  
  h2 {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  
  a {
    text-decoration: none;
    color: #2dc4b2;
  }
  
  #console {
    position: relative;
    width: 400px;
    margin: 10px;
    padding: 10px 10px;
    background-color: white;
  }
  
  .session {
    margin-bottom: 20px;
  }
  
  .row {
    height: 20px;
    width: 100%;
  }
  
  .colors {
    background: linear-gradient(to right, #0011FF, #00DEFF, #00FF09, #FFF700, #FF8000, #FF0000, #000000);
    margin-bottom: 5px;
  }
  
  .label {
    width: 13%;
    display: inline-block;
    text-align: center;
  }

  img {
    vertical-align: middle;
    height: 500px;
    width: 500px;
    
  }
  .border {
    border-right: 1px solid black;
  }