<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset='utf-8' />
  <title>Missouri Kansas Crime</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" type="text/css" href="../static/css/map_style.css">
  
</head>

<body>


<div class="col-md-12">
                <div id='map'></div>
                <div id='console'>
                  <h1>MO/KS Crime</h1>
                  <p>Data: <a href='https://www.kcpd.org/crime/crime-mapping/'>MO/KS crime data</a> 2015 - 2020</p>

                    <div class='session'>
                      <h2>Crime Count</h2>
                      <div class='row colors'>
                      </div>
                      <div class='row labels'>
                        <div class='label'>1</div>
                        <div class='label'>100</div>
                        <div class='label'>200</div>
                        <div class='label'>300</div>
                        <div class='label'>400</div>
                        <div class='label'>500</div>
                        <div class='label'>1000+</div>
                      </div>

                      <div class='session' id='sliderbar'>
                        <h2>Year</h2>
                        <input id='slider' class='row' type='range' min='2014' max='2020' step='1' value='2014' />
                      </div>
                      <div class='row labels'>
                        <div class='label'>All</div>
                        <div class='label'>2015</div>
                        <div class='label'>2016</div>
                        <div class='label'>2017</div>
                        <div class='label'>2018</div>
                        <div class='label'>2019</div>
                        <div class='label'>2020</div>
                      </div>

                      <div class='session'>
                        <h2>Type of crime</h2>
                        <div class='row' id='filters'>
                          <input id='Violent' type='radio' name='toggle' value='Violent' checked='checked'>
                          <label for='Violent'>Violent</label>
                          <input id='theft' type='radio' name='toggle' value='theft'>
                          <label for='theft'>Theft</label>
                          <input id='sexoffense' type='radio' name='toggle' value='sexoffense'>
                          <label for='sexoffense'>Sex Offense</label>
                          <input id='drug' type='radio' name='toggle' value='drug' checked='checked'>
                          <label for='Drug'>Drug</label>
                          <input id='other' type='radio' name='toggle' value='other' checked='checked'>
                          <label for='other'>Other</label>
                        </div>
                      </div>
                    </div>
                </div>

                <!--Mapbox access key (plz don't steal, thanks)-->
                <script>mapboxgl.accessToken = 'pk.eyJ1IjoiYnNwYXJrczExIiwiYSI6ImNrZTRsdjEyZTAyamIyc29hM2ZnZG8yMW4ifQ.OjmXCqmeX3aq15wvXRb6Tg';

                var map = new mapboxgl.Map({
                  container: 'map', // container element id
                  style: 'mapbox://styles/mapbox/light-v10',
                  center: [-94.578331, 39.099724], // initial map center in [lon, lat]
                  zoom: 12
                }); </script>

                <script>
                map.on('load', function() {
                  map.addLayer({
                    id: 'population',
                    type: 'circle',
                    source: {
                      type: 'geojson',
                      data: 'KC_Crime.geojson' // replace this with the url of your own geojson
                    },
                    paint: {
                      'circle-radius': [
                        'interpolate',
                        ['linear'],
                        ['number', ['get', 'CountPerType']],
                        1, 5,
                        10, 15
                        
                      ],
                      'circle-color': [
                        'interpolate',
                        ['linear'],
                        ['number', ['get', 'CountPerType']],
                        1, '#0011FF',
                        100, '#00DEFF',
                        200, '#00FF09',
                        300, '#FFF700',
                        400, '#FF8000',
                        500, '#FF0000',
                        1000, '#000000'
                      ],
                      'circle-opacity': 0.8
                    }
                  });
                  document.getElementById('slider').addEventListener('input', function(e) {
                    var year = parseInt(e.target.value);
                    // update the map
                    map.setFilter('population', ['==', ['number', ['get', 'YEAR']], year]);

                    
                  });

                  document.getElementById('filters').addEventListener('change', function(e) {
                      var crimetype = e.target.value;
                      // update the map filter
                      if (crimetype === 'Violent') {
                        filtercrime = ['match', ['get', 'TYPE'], ['Violent'], true, false];
                      } else if (crimetype === 'theft') {
                        filtercrime = ['match', ['get', 'TYPE'], ['theft'], true, false];
                      } else if (crimetype === 'sexoffense') {
                        filtercrime = ['match', ['get', 'TYPE'], ['sexoffense'], true, false];
                      } else if (crimetype === 'drug') {
                        filtercrime = ['match', ['get', 'TYPE'], ['drug'], true, false];
                      } else if (crimetype === 'other') {
                        filtercrime = ['match', ['get', 'TYPE'], ['other'], true, false];
                      } else {
                        filtercrime = map.setFilter('population', ['==', ['number', ['get', 'CountPerType']], crimetype]);
                      }
                      map.setFilter('population', ['all', filtercrime]);
                  });
                });
                </script>



<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

</body>

</html>
